---
import MainLayout from '../layouts/MainLayout.astro';
import { getUsers } from '../actions/users';

const users = await getUsers();
---

<MainLayout>
  <h1 class="text-2xl">
    <i class="fa fa-user-astronaut"></i>
    Astro Template
  </h1>
  <h2 class="text-lg">Sample Data</h2>
  <pre>{JSON.stringify(users, null, 2)}</pre>
</MainLayout>
